spring:
  mvc:
    hiddenMethod:
      filter:
        enabled: true
  datasource:
    url: ${DATABASE_URL}
    driverClassName: org.postgresql.Driver
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
